aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.12.0
attrs==25.4.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2025.11.12
frozenlist==1.8.0
greenlet==3.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
lxml==6.0.2
multidict==6.7.0
playwright==1.57.0
propcache==0.4.1
pyee==13.0.0
selectolax==0.4.6
soupsieve==2.8.1
typing_extensions==4.15.0
yarl==1.22.0
